@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts/NeueMachina-Light.woff2") format("woff2"),
    url("../assets/fonts/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Neue Machina";
  background-repeat: no-repeat;
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

#Koordinatensystem {
  position: absolute;
  width: 97vw;
  height: 96vh;
  top: 2.5vh;
  left: 1vw;
}

.Text {
  height: 10vh;
  width: 90vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 1.5em;
}

.About {
  height: 50vh;
  width: 95vw;
  position: relative;
  top: 1vh;
  left: 1vw;
  font-size: 2em;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.objekt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: greenyellow ;
    mix-blend-mode: difference;
    border-radius: 1000px;
    src: "../assets/images/hubble.jpg";
}
